<div class="-m-2 xl:-m-3 2xl:-m-4">
  <div class="flex flex-wrap">
    <div class="p-2 xl:p-3 2xl:p-4 flex w-[100%] xs:w-[50%] lg:w-[33.33%] xl:w-[25%]">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-[10px]">
        <p class="text-[15px] xl:text-[16px] 2xl:text-[18px] font-semibold text-secondary">
          {{ 'dashboard.dailySales' | translate }}</p>
        <ng-container *ngIf="!dashboardStatsLoading">
          <p
            class="text-[30px] xl:text-[34px] 2xl:text-[25px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-medium text-secondary mt-3">
            <span class="text-[20px] xl:text-[22px] 2xl:text-[15px] leading-[24px] 2xl:leading-[28px]">&#8377;</span>
            {{ dashboardStats?.dailySales | number: '1.2-2' }}
          </p>
        </ng-container>
        <ng-container *ngTemplateOutlet="dashboardStatsLoader"></ng-container>
      </div>
    </div>
    <div class="p-2 xl:p-3 2xl:p-4 flex w-[100%] xs:w-[50%] lg:w-[33.33%] xl:w-[25%]">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-[10px]">
        <p class="text-[15px] xl:text-[16px] 2xl:text-[18px] font-semibold text-secondary">{{
          'dashboard.dailyPurchase' | translate }}</p>
        <ng-container *ngIf="!dashboardStatsLoading">
          <p
            class="text-[30px] xl:text-[34px] 2xl:text-[25px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-medium text-secondary mt-3">
            <span class="text-[20px] xl:text-[22px] 2xl:text-[15px] leading-[24px] 2xl:leading-[28px]">&#8377;</span>
            {{ dashboardStats?.dailyPurchases | number: '1.2-2' }}
          </p>
        </ng-container>
        <ng-container *ngTemplateOutlet="dashboardStatsLoader"></ng-container>
      </div>
    </div>
    <div class="p-2 xl:p-3 2xl:p-4 flex w-[100%] xs:w-[50%] lg:w-[33.33%] xl:w-[25%]">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-[10px]">
        <p class="text-[15px] xl:text-[16px] 2xl:text-[18px] font-semibold text-secondary">{{
          'dashboard.monthlySales' | translate }}</p>
        <ng-container *ngIf="!dashboardStatsLoading">
          <p
            class="text-[30px] xl:text-[34px] 2xl:text-[25px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-medium text-secondary mt-3">
            <span class="text-[20px] xl:text-[22px] 2xl:text-[15px] leading-[24px] 2xl:leading-[28px]">&#8377;</span>
            {{ dashboardStats?.monthlySales | number: '1.2-2' }}
          </p>
        </ng-container>
        <ng-container *ngTemplateOutlet="dashboardStatsLoader"></ng-container>
      </div>
    </div>
    <div class="p-2 xl:p-3 2xl:p-4 flex w-[100%] xs:w-[50%] lg:w-[33.33%] xl:w-[25%]">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-[10px]">
        <p class="text-[15px] xl:text-[16px] 2xl:text-[18px] font-semibold text-secondary">{{
          'dashboard.monthlyPurchases' | translate }}</p>
        <ng-container *ngIf="!dashboardStatsLoading">
          <p
            class="text-[30px] xl:text-[34px] 2xl:text-[25px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-medium text-secondary mt-3">
            <span class="text-[20px] xl:text-[22px] 2xl:text-[15px] leading-[24px] 2xl:leading-[28px]">&#8377;</span>
            {{ dashboardStats?.monthlyPurchases | number: '1.2-2' }}
          </p>
        </ng-container>
        <ng-container *ngTemplateOutlet="dashboardStatsLoader"></ng-container>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap lg:mt-2 xl:m-0">
    <div class="p-2 xl:p-3 2xl:p-4 flex w-full">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-[10px]">
        <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-[10px]">
          <div class="flex justify-between flex-wrap -m-1.5 sm:-m-2">
            <div class="p-1.5 sm:p-2">
              <h4 class="text-[16px] xl:text-[18px] 2xl:text-[20px] font-bold text-secondary">{{
                'dashboard.salesTrend' | translate }}</h4>
            </div>
            <div class="p-1.5 sm:p-2 w-full xs:w-auto">
              <ng-select class="w-full min-w-[140px] font-semibold text-secondary custom-select rounded"
                [items]="months" bindLabel="label" bindValue="value" [clearable]="false" [searchable]="false"
                [formControl]="monthFilter" (close)="getMonthlySales()">
              </ng-select>
            </div>
          </div>
          <div class="mt-3">
            <ng-container *ngIf="!monthlySalesLoading">
              <canvas baseChart width="560" height="210" [datasets]="dayWiseData" [labels]="chartLabels"
                [options]="lineChartOptions" type="line" [legend]="false"></canvas>
            </ng-container>
            <ng-container *ngIf="monthlySalesLoading">
              <ng-container *ngTemplateOutlet="monthlySalesLoader"></ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #dashboardStatsLoader>
  <ng-container *ngIf="dashboardStatsLoading">
    <div class="flex mt-3 w-full ml-2">
      <app-cp-loader [class]="{ 'w-8 h-8 border-x-primary border-y-transparent': true }"></app-cp-loader>
    </div>
  </ng-container>
</ng-template>

<ng-template #monthlySalesLoader>
  <div class="flex items-center w-full justify-center h-[80px]">
    <app-cp-loader [class]="{ 'w-8 h-8 border-x-primary border-y-transparent': true }"></app-cp-loader>
  </div>
</ng-template>

<ng-template #noDataFound>
  <div class="flex items-center font-medium justify-center w-full">
    {{ 'common.noDataFound' | translate }}
  </div>
</ng-template>