<div class="bg-white shadow-2sm p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-[10px]">
    <div class="flex flex-wrap -m-1.5 sm:-m-2 mb-2 sm:mb-3">
        <div class="p-1.5 sm:p-2 mr-auto order-1 sm:order-none flex-auto sm:flex-none">
            <app-cp-button [label]="'sale.addSale' | translate"
                [class]="{'common-btn primary-btn font-semibold font-base rounded-[5px]': true}"
                (onTap)="navigateToAddSale()"></app-cp-button>
        </div>
        <div class="p-1.5 sm:p-2 order-3 sm:order-none flex-auto sm:flex-none">
            <div class="search-box relative sm:min-w-[300px]">
                <mat-icon class="text-blue-50 absolute left-[10px] top-[10px]">search</mat-icon>
                <input
                    class="shadow-2sm rounded-[60px] outline-0 text-blue-50 font-semibold h-[40px] w-full pl-[44px] pr-4"
                    type="text" [formControl]="searchControl" placeholder="{{ 'sale.searchSale' | translate }}">
            </div>
        </div>
        <div class="p-1.5 sm:p-2 order-2 sm:order-none flex-auto sm:flex-none">
            <ng-select class="w-full font-semibold text-secondary custom-select rounded" [formControl]="sortValue"
                [clearable]="false" [searchable]="false" (change)="getSalesList()">
                <ng-option *ngFor="let sort of sortOptions" [value]="sort.value">
                    {{ 'common.' + sort.label | translate }}
                </ng-option>
            </ng-select>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="overflow-x-auto">
            <table class="custom-table" mat-table [dataSource]="saleList">

                <ng-container matColumnDef="saleId">
                    <th mat-header-cell *matHeaderCellDef> {{ 'common.id' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.saleId }} </td>
                </ng-container>

                <ng-container matColumnDef="saleNumber">
                    <th mat-header-cell *matHeaderCellDef> {{ 'sale.saleNumber' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <a class="cursor-pointer text-primary">
                            {{ element.saleNumber }}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> {{ 'common.date' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.date | date: 'mediumDate' }} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> {{ 'common.total' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.total | number: '1.2-2' }} </td>
                </ng-container>

                <ng-container matColumnDef="customerName">
                    <th mat-header-cell *matHeaderCellDef> {{ 'sale.customerName' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                </ng-container>

                <ng-container matColumnDef="customerNo">
                    <th mat-header-cell *matHeaderCellDef> {{ 'sale.customerNo' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.customerNo }} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td class="w-[10px]" mat-cell *matCellDef="let element">
                        <app-cp-action-toolbar [actionData]="element.saleAction"
                            [rowReference]="element"></app-cp-action-toolbar>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnLabel"></tr>
                <tr mat-row *matRowDef="let row; columns: columnLabel;">
                </tr>

            </table>
            <ng-container *ngIf="!isLoading && !saleList.data.length">
                <div class="flex items-center font-medium justify-center h-[80px]">
                    {{ 'common.noDataFound' | translate }}
                </div>
            </ng-container>
            <ng-container *ngIf="isLoading">
                <div class="flex items-center justify-center h-[80px]">
                    <app-cp-loader [class]="{ 'w-8 h-8 border-x-primary border-y-transparent': true }"></app-cp-loader>
                </div>
            </ng-container>
        </div>
        <mat-paginator class="custom-paginator" (page)="getSalesList()" [pageSizeOptions]="pageSizeOptions"
            showFirstLastButtons></mat-paginator>
    </div>
</div>